.container {
    margin: 3rem auto;
    height: 60vh;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    gap: 10px;
}